@model IEnumerable<string>

<a class="egg btn  btn-outline-secondary" asp-action="Index" asp-controller="Home" asp-route-category="">Home</a>

@foreach (string category in Model)
{
    <!--this prints out a button for each category-->
    <a class="egg btn  @(category ==ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary") " asp-action="Index" asp-controller="Home" asp-route-category="@category" asp-route-pageNum="1">@category</a> 
}
 